{% extends "home.html" %}
{% block title %}Direct Messages{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dms.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/dms_functions.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <!--Use getCurrentChat to get class name (id) and use socketio to append to the id section-->
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.send('User has connected');
        });

        socket.on('message', function(message) {
            $('#c{{ chat.id }}').append('<p>' + message + '</p>');
        });
    </script>
{% endblock%}
{% block content %}
    {% block navbar %}{{ super() }}{% endblock %}
    <div class="DM">
        <div class="accounts">
            <p>Accounts</p>
            <button onclick="showCreate()" type="submit" id="create-button">Create Chat</button>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 <ul class="flashes">
                    {% for message in messages %}
                     <div class="message_flash">{{ "*" + message }}</div>
                    {% endfor %}
                </ul>
               {% endif %}
             {% endwith %}
        <!-- loop through friends list-->
            {% for chat in chats %}
                <button class="{{ chat.chat_name }}" onclick="showChats('{{ 'c' + chat.id|string }}')">{{ chat.chat_name }}</button>
            {% endfor %}
        </div>
        <div class="messages">
            <p>Messages</p>
            <div class="message-text" id="message-text">
                {% for chat in chats %}
                    <div id="c{{ chat.id }}" class="c{{ chat.id }}" style="display: none;">
                    {% if json.loads(chat.messages)|length == 0 %}
                        <p class="{{ 'c' + chat.id|string }}">You have yet to send a text.</p>
                    {% endif %}
                    {% for message in json.loads(chat.messages) %}
                        <p class="{{ 'c' + chat.id|string }}">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="message-input">
                <form method="post" class="message-input">
                    {{ send_message.csrf_token }}
                    {{ send_message.message.label }}
                    {{ send_message.message() }}
                    {{ send_message.submit() }}
                </form>
            </div>
        </div>
        <form class="create-form-popup" method="post">
            <div class="create-form-background">
                {{ create_chat.csrf_token }}
                {{ create_chat.accounts.label }}
                {{ create_chat.accounts() }}
                {{ create_chat.submit() }}
                </br>
                <button type="submit" onclick="hideCreate()">Cancel</button>
                <div class="errors">
                    {% if create_chat.errors %}
                    <ul>
                        {% if create_chat.accounts.errors %}
                            {% for error in create_chat.accounts.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div id="dimmer"></div>
{% endblock %}
