{% extends "home.html" %}
{% block title %}Direct Messages{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dms.css') }}">
    <script src="{{ url_for('static', filename='js/dms_functions.js') }}"></script>
{% endblock%}
{% block content %}
    {% block navbar %}{{ super() }}{% endblock %}
    <div class="DM">
        <div class="accounts">
            <p>Accounts</p>
            <button onclick="showCreate()" type="submit" id="create-button">Create Chat</button>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 <ul class="flashes">
                    {% for message in messages %}
                     <div class="message_flash">{{ "*" + message }}</div>
                    {% endfor %}
                </ul>
               {% endif %}
             {% endwith %}
        <!-- loop through friends list-->
            {% for friend in friends %}
                <a href=""><button>{{ friend }}</button></a>
            {% endfor %}
        </div>
        <div class="messages">
            <p>Messages</p>
            <div class="message-text">

            </div>
        </div>
        <form class="create-form-popup" method="post">
            <div class="create-form-background">
                {{ create_chat.csrf_token }}
                {{ create_chat.accounts.label }}
                {{ create_chat.accounts() }}
                {{ create_chat.submit() }}
                </br>
                <button type="submit" onclick="hideCreate()">Cancel</button>
                <div class="errors">
                    {% if create_chat.errors %}
                    <ul>
                        {% if create_chat.accounts.errors %}
                            {% for error in create_chat.accounts.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div id="dimmer"></div>
{% endblock %}
