{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#create-post").click(function(){
                $("#dimmer").css("display", "block");
                $(".post-form").css("display", "block");
            });

            $("#cancel-post").click(function(){
                $("#dimmer").css("display", "none");
                $(".post-form").css("display", "none");
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="welcome">
        <h1>Hello {{ user.username }}! </h1>
    </div>
    {% block navbar %}
        <div class="nav-bar">
            <a href="{{ url_for('home') }}"><button>Home</button></a>
            <a href="{{ url_for('dm') }}"><button id="DM">DMs</button></a>
            <input type="text" id="search">
            <a href="{{ url_for('profile', username=user.username) }}"> <img src="{{ user.profile_picture }}"> </a>
            <form method="post">
                <input type="submit" name="logout" id="logout" value="Logout">
            </form>
        </div>
    {% endblock %}

    <div class="posts">
        <button id="create-post">Create Post</button>
        {% for post in posts %}
            <div class="p{{ post.id }}">
                <p>{{ post.creator }}</p>
                <img src="{{ post.image }}" width="400" height="400">
                <p>{{ post.caption }}</p>
                <p>Likes : 0</p>
                <form class="heart" method="post">
                    <input id="h-left" type="submit" value="">
                    <input id="h-right" type="submit" value="">
                </form>
                <br/>
            </div>
        {% endfor %}
    </div>

    <div class="post-form">
        <form method="post" enctype="multipart/form-data">
            {{ post_form.csrf_token }}
            {{ post_form.caption.label }}
            {{ post_form.caption(rows="10", cols="80") }}
            {{ post_form.image.label }}
            {{ post_form.image() }}
            {{ post_form.submit() }}
        </form>
        <br/>
        <button id="cancel-post">Cancel</button>
        <div class="post-errors">
            {% if post_form.errors %}
            <ul>
            {% if post_form.caption.errors %}
                {% for error in post_form.caption.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}

            {% if post_form.image.errors %}
                {% for error in post_form.image.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

    <div id="dimmer"></div>
{% endblock %}