{% extends "home.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}"
{% endblock %}
{% block content %}
    {% block navbar %}{{ super() }}{% endblock %}
    <div class="profile">
        <img src="{{ user.profile_picture }}">
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <div class="followers">
                <p>0</p>
                <p>Followers</p>
            </div>
            <div class="friends">
                <p>{{ friends|length }}</p>
                <p>Friends</p>
            </div>
        </div>
    </div>
{% endblock %}
