{% extends "home.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block content %}
    {% block navbar %}{{ super() }}{% endblock %}
    <div class="profile">
        <img src="{{ viewed_user.profile_picture }}">
        <div class="profile-info">
            <h1>{{ viewed_user.username }}</h1>
            <div class="followers">
                <p>{{ viewed_followers|length }}</p>
                <p>Followers</p>
                {% if viewed_user != user %}
                    <form class="follow-button" method="post">
                        {% for follow in user_following %}
                            {% if follow == viewed_user.username %}
                                <input type="submit" name="submit" value="Following">
                            {% endif %}
                        {% else %}
                            <input type="submit" name="submit" value="Follow">
                        {% endfor %}
                    </form>
                {% endif %}
            </div>
            <div class="friends">
                <p>{{ viewed_friends|length }}</p>
                <p>Friends</p>
            </div>
        </div>
        <div class="settings">
            {% if viewed_user == user %}
                <a href="{{ url_for('profile_settings') }}"><button>Profile Settings</button></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
